
Week 2/jonlam.py
Week 2/jonlam2.py
Week 3/singleDigitParams.py
Week 4/cifar-10-batches-py
Week 4/cifar-100-python
Midterm/annotations
Midterm/images
Midterm/Checkpoints
Final/ideas.txt
Final/val
Final/annotations
Final/cocoapi-master
Final/__pycache__
*.zip
